# http://editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8

[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[docs/Makefile]
indent_style = tab
