include *.rst
include *.txt
include tests/*.py
include Makefile
include *.md
include changelog.d/*
include CITATION.cff
include tox.ini

# The dot files:
include .coveragerc
include .editorconfig
include .gitignore
include .readthedocs.yaml


prune docs/_build
recursive-exclude .github  *

global-exclude __pycache__
